<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/contact.css">
    <!-- <link rel="stylesheet" href="./main.html"> -->
    <!-- <link rel="stylesheet" href="./css/main.css"> -->
    
</head>

<body>
        <nav>
            <div class="navleft">
                <a href="./index.html" class="navleftitem">
                    <img src="https://mobirise.com/extensions/shopamp/assets/images/logo1.png" alt="">
                </a>

            </div>

            <div class="navright">
                <a href="../../index.html" class="link">Home</a>
                <a href="./components/contact.html" class="link">Contacts</a>
                <a href="../components/shop.html" class="link">SHOP</a>
                <button href="" class="link buyNowButton">BUY NOW</button>
            </div>
        </nav>
       
  

    <div class="contact">
        <div class="contact__title">
            <h4>WELCOME TO SHOPAMP</h4>
            <span>Our location</span>
        </div>

        <div class="contactform">

            <div class="contactformimg">
                <h3>Email</h3>
                <h4>company@mobirise.com</h4>
                <img src="../image/headerBg.jpg" alt="">
            </div>

            <div class="contactformmap">
                <h3>Phone</h3>
                <h4>+573 1235 5324</h4>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d786.1079862612727!2d49.87502621412811!3d40.39337467143513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d3bd1219195%3A0xb14c54d3f7f508ce!2s15%20Zahid%20Gambarov%20St%2C%20Baku%201000!5e0!3m2!1str!2saz!4v1685566738241!5m2!1str!2saz"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>





    <div class="forget">
        <span>Our Contack</span>
        <div class="forget__input">
            <input type="text" placeholder="NAME">
            <input type="text" placeholder="PHONE">
            <input type="email" placeholder="EMAIL">
            <textarea name="text" placeholder="Message" cols="30" rows="10"></textarea>
        </div>
        <div class="forgetbt">
            <button class="forget__button2" type="submit">SEND FORM</button>
        </div>

    </div>
    <div class="end">

        <div class="end1">
            <div class="end2">
                <img src="https://mobirise.com/extensions/shopamp/assets/images/logo1.png" alt="">

            </div>
            <h5>You are always welcome in our shop. Please subscribe and you would know
                the latest news about discounts and sales. Check out Ecommerce HTML Footer
                Template, it's one of Mobirise's best blocks.
            </h5>
            <a href="https://www.facebook.com/Mobirise"><img src="./image/facebook.svg"></img></a>
            <a href="https://www.instagram.com/mobirise/?__coig_restricted=1"><img src="./image/instagram.svg"
                    alt=""></a>
            <a href="https://twitter.com/mobirise"><img src="./image/twitter.svg" alt=""></a>
            <a href="https://mobirise.com/"><img src="./image/telegram.svg" alt=""></a>

        </div>

        <div class="newsText">
            <span>News</span>

            <div class="newsTexth5">
                <h5>Sales </h5>
                <h5> NewDiscounts </h5>
                <h5>New collections</h5>
                <h5>Best proposals</h5>
            </div>
        </div>

        <div class="shoptext">

            <span>Shop</span>

            <div class="shopTexth5">
                <h5>Meat</h5>
                <h5>Vegetables</h5>
                <h5>Fruits</h5>

            </div>
                
        </div>

        <div>
            <span>Form</span>
            <div class="subscribe2">
                <input type="email" placeholder="Enter your email here">
                <a href="">SUBSCRIBE</a>
            </div>
        </div>

    </div>
    <div class="proyekt__end">
        <span>© Copyright 2019 Mobirise – Food Store Template – All Rights Reserved</span>
    </div>
</body>

</html>